/* Dropdown2.css */



.Album li {
  margin: 0;
  padding: 0;
}

.Album li a {
  color: white; /* Set the color to white */
  text-decoration: none; /* Remove underline from links */
  font-weight: lighter;
  transition: color 0.3s; /* Add a smooth transition for color change */
}

.Album li a:hover {
  text-shadow: 0 0 5px rgba(16, 3, 3, 0.562); /* Add a text shadow effect */
}
