/* Nav.css */


/* Nav.css */

.navbar1 {
  background-color: rgba(255, 0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: right;
  align-items: flex-start;
  font-family: 'Comfortaa', sans-serif;
  font-size: large;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  /* top: 0; */
  height: 60px;
}

.navAll {
  background-color: #03ffd900;
  position: fixed;
  z-index: 999; /* Decreased z-index to ensure it's below the navbar */
  width: 100vw;
  top: 0;
}

.drop {
  top: 60px;
    position: absolute;
    /* -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px); */
    right: 17%; 
    /* border-radius: 4px; */
    border-color: aliceblue;
    font-family: 'Comfortaa', sans-serif;
    font-size: medium;
    width: 200px;
    /* background-color: rgba(40, 56, 56, 0.66); */
}

.BrandIcon {
  position: absolute;
  background-color: rgba(0, 0, 255, 0);
  width: 100px;
  display: flex;
  justify-content: space-between;
  left: 5%;
  height: 61px;
  align-items: center;
}

.navItems1 {
  list-style: none;
  display: flex;
  height: 61px;
  align-items: center;
}

li {
  margin-right: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navItems1 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  transition: color 0.3s;
}

.navItems1 a:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
}


.dropG {
  background-color: rgba(21, 21, 171, 0);
  height: 45px;
  bottom: -9.5px;
  position: relative;
}

.dropG a:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.dropG a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  transition: color 0.3s;
}

.navAll .navbar1 .navItems1 li .active {
  color: rgba(255, 255, 255, 0.774);
  text-decoration: underline; /* Add underline */
  text-shadow: 0 0 10px rgb(255, 255, 255);
  transition: color 0.4s ease-in; /* Include text-decoration in the transition */
}

