/* Nav.css */


/* Nav.css */

.navbar1 {
  /* background-color: rgba(255, 0, 0, 0); */
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: right;
  align-items: flex-start;
  font-family: 'Comfortaa', sans-serif;
  font-size: large;
  position: fixed;
  z-index: 1000;
  width: 100vw;   /*1528px*/  /*1px->0.0654*/
  /* top: 0; */
  height: 60px;
}

.navAll {
  background-color: #00ffd9;
  position: fixed;
  z-index: 999; /* Decreased z-index to ensure it's below the navbar */
  width: 100vw;
  top: 0;
}


.drop {
  top: 60px;
  position: absolute;
  right: 18.9vw;
  border-color: aliceblue;
  font-family: 'Comfortaa', sans-serif;
  font-size: medium;
  width: 180px;
  background-color: rgba(40, 56, 56, 0);
}


.BrandIcon {
  position: absolute;
  background-color: rgba(0, 0, 255, 0);
  width: 86px;
  display: flex;
  justify-content: space-between;
  left: 5%;
  height: 61px;
  align-items: center;
}

.navItems1 .BrandIcon a {
  margin-left:1vw;
  /* color:rgba(89, 149, 129, 0) */
}

.navItems1 {
  /* list-style: none; */
  display: flex;
  height: 61px;
  align-items: center;
  /* width: 100vw; */
}


li {
  
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navItems1 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  transition: color 0.3s;
  margin-right: 2.00vw;
  
}

.navItems1 a:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
}


.dropG {
  background-color: rgba(21, 21, 171, 0);
  height: 45px;
  bottom: -9.5px;
  position: relative;
}

.dropG a:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.dropG a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  transition: color 0.3s;
}

.navAll .navbar1 .navItems1 li .active {
  color: rgba(255, 255, 255, 0.774);
  text-decoration: underline; /* Add underline */
  text-shadow: 0 0 10px rgb(255, 255, 255);
  transition: color 0.4s ease-in; /* Include text-decoration in the transition */
}

.socials{
  display: flex;
  justify-content: space-between;
  /* width: 100px; */
  /* margin-right: 1vw; */

}

.activeT{
  display : none;
}
.not-activeT{
  display : none;
}


@media screen and (max-width: 940px) {
  .drop {
    right: 20vw;
    background-color: rgba(65, 105, 225, 0);
  }
}

@media screen and (max-width: 768px) {

  .navAll{
    background-color: rgba(234, 232, 97, 0);
    height: 100vh;
  }
  .navbar1{
    /* display : block; */
    flex-direction: column;
    width: 100vw;
    /* justify-content: flex-start; */
    
    
  }
  .navItems1{
    display: block;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgba(21, 21, 171, 0);
    margin:0px;
    padding:0px;
    position: relative;
    /* display: none; */
    
    
  }
  .topIcons .BrandIcon{
    position : relative;
    padding: 0px;
    left:45%
    /* width:20vw; */
  }
  .navItems1 li{
    padding : 20px;
  }

  .dropG {
    background-color: rgba(21, 21, 171, 0);
    height: 60px;
    bottom: 0px;
    top:-5px;
    
    /* position: absolute; */
  }
  .socials {
    padding: 0px;
    justify-content: space-evenly;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    bottom: 10%;
    width: 100vw;
  }
  .topIcons{
    margin: 0px;
    padding:0px;
    width: 100vw;
    display: flex;
    /* display: none; */
    background-color: rgba(143, 36, 36, 0);
  }
  
  .activeT{
    display : block;
  }
  .not-activeT{
    display : block;
  }


}


